* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}


h1,h2,h3 {
    color: #152237;
}

h1, h2 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
}

    .title-formation h2 {
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
    }

/* HEADER */

a {
    color: white;
    cursor: pointer;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #152237;
    padding: 12px;
}

nav img {
width: 90px;
}

nav a {
    font-size: 0.9em;
}

.search-container {
    width: 477px;
    height: 40px;
    display: flex;
    text-align: center;
    position: relative;
}

#search {
    background: transparent;
    color: white;
    font-size: 0.8em;
    padding: 5px;
    outline: none;
    border: solid 1px white;
    width: 100%;
    border-radius: 4px;
}

#search::placeholder {
    color: white;
    font-weight: 600;
}

.fa-magnifying-glass {
    position: absolute;
    font-size: 0.8em;
    color: white;
    right: 5px;
    top: 14px;
    cursor: pointer;
}

.btn {
    padding: 8px;
    width: 90px;
    background: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.btn-sign-up {
    background: #44DD8A;
    background: linear-gradient(90deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 1) 100%);
}

.fa-bars {
    display: none;
    cursor: pointer;
}

.btn-nav {
    display: flex;
    gap: 20px;
}

.sidebar .btn-nav {
    display: none;
}

@media screen and (max-width: 768px) {
    .link-nav, .btn-nav, #search, .fa-magnifying-glass {
    display: none;
    }

    .fa-bars {
    display: block;
    font-size: 20px;
    }

    .sidebar {
    position: absolute;
    background: #152237;
    margin-left: 50%;
    display: none;
}

.active {
    display: block;
    width: 50%;
    height: 300px;
}

.sidebar .btn-nav {
    display: flex;
    text-align: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 50px;
    }
}

/* HEADER CONTAINER */

.header-container {
    height: 451px;
    text-transform: uppercase;
    background-image: linear-gradient(
      90deg,
      rgba(68, 221, 138, 0.8) 19%,
      rgba(21, 183, 226, 0.8) 100%
    ),
    url("./assets/bg-header.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.header-text h1 {
    margin: auto;
    font-weight: 800;
    color: #152237;
    margin-bottom: 5px;
}

.header-text p  {
    margin-bottom: 10px;
    font-weight: 500;
}

.header-text button {
    width: 120px;
    padding: 10px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .header-text h1 {
    font-size: 32px;
    width: 360px;

    }

    .header-text p {
    width: 360px;
    height: 72px;
    font-size: 20px;
    font-weight: 500; 
    padding: 3px;
    }

}

/* FORMATION POPULAIRE CONTAINER */

.formation-container {
    padding: 40px 100px 30px;
}

.title-formation  {
    margin-left: 50px;
}

/* .title-formation h2 {
    font-size: 36px;
    font-weight: bold;
} */

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    margin-top: 50px;
    position: relative;
}

.card-img {
    width: 305px;
    height: 206px;
    background-color: #44DD8A;
    margin-bottom: 30px;
}

.card-price {
    position: absolute;
    display: flex;
    top: 190px;
    right: 15px;
    background-color: #152237;
    color: white;
    font-weight: bold;
    height: 31px;
    width: 120px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.card-price p {
    font-size: 1.25em;
}

.card-price s {
    font-weight: lighter;
    text-decoration:line-through;
    font-size: 0.8em;
}

.fa-star {
    color: #FFC700;
    margin: 8px 0;
}

.card-info h3{
    margin-bottom: 10px;
}

.card-text {
    width: 280px;
}

.theme {
    font-weight: 700px;
    font-size: 1.5em;
    color: #152237;
}

.fa-transparant {
    opacity: 25%;
}

.link-formations{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btn-formations{
    background-color: #152237;
    font-size: 0.9;
    font-weight: 500;
    width: 225px;
    color: white;
    margin-bottom: 30px;
}

.recent-container {
background-color: #152237;
color: white;
}

.title-recent {
color: white;
}

.price-recent {
background: white;
color: #152237;
}

.theme-white {
color: white;
}

.btn-white {
background: white;
color: #152237;
}

@media screen and (max-width: 768px) {
    .title-formation h2 {
    font-size: 30px;
    width: 335px;
    }
    .card-container {
    flex-direction: column;
    }
}

/* AVIS CLIENTS */
.avis-container {
    margin-left: 75px;
    padding: 40px 100px 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.feedback-container h1{
    margin-top: 56px;
    text-align: center;
}

.avis-container img {
    border-radius: 50%;
}

.avis-name {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

.avis-text {
    margin-top: 10px;
    line-height: 30px;
    width: 686px;
    padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
    .feedback-container {
        max-width: 375px;
        margin-left: 135px;
    }

    .feedback-container h1 {
        margin-left: 77px;
        font-size: 30px;
    }
    
    .avis-container {
        display: flex;
        flex-direction: column;
        max-width: 375px;
        padding-left: 150px;
        margin: 0;
  }

    .avis-text {
        width: 460px;
    }

    .avis-text h3 {
        margin-left: 15px;
    }

    .avis-text p {
    margin-left: -100px;
    max-width: 375px;
    }
}

/*AVANTAGES CONTAINER */

.section4-container {
    background-color: #F5F5F5;
    padding: 40px 100px 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.section4-container h1 {
    margin-left: 55px;
    margin-top: 30px;
}

 .text {
    display: flex;
    align-items: center;
    align-content: center;
    column-gap: 20px;
    margin: 22px 75px ;
}

.text p {
    font-size: 1.5em;
    width: 616px;
}

.img-container {
    width: 100%;
    height: 472px;
    background-image: url(./assets/avantages.png);
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .text-container {
    margin-left: 90px;
    }
}



/* SECTION 5 */

.section5-container {
    background-color: #44DD8A;
    padding: 40px 100px 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

.section5 h1 {
    width: 678px;
    margin-left: 75px;
}

.section5 .text {
column-gap: 55px;
}

.section5-container .img-container {
background-image: url(./assets/become-author.png);
}


@media screen and (max-width: 768px) {
    .section4-container {
        flex-direction: column;
    }
    .section4 h1, .section5 h1 {
        font-size: 30px;
        width: 349px;
        text-align: center;
        margin-left: -35px;
    }

    .text {
        margin-left: -30px;
        width: 396px;
    }

    .img-container {
        height: 357px;
        background-size: cover;
        margin-bottom: 20px;
  }


}

/* SECTION 6 */

.section6-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F5F5F5;
    height: 746px;
}

.section6 h1 {
    margin-left: 95px;
}

.section6 .text-container {
    margin: auto;
}

.text-content {
    width: 686px;
    margin-left: 142px;
    margin-top: 50px;
    font-size: 1.125em;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152237;
}

@media screen and (max-width: 768px) {
    .section6-container {
        display: flex;
        flex-direction: column;
    }
    .section6 .text-container {
        max-width: 375px;
        padding-bottom: 40px;
    }

    .section6 h1 {
        margin-top: 40px;
        font-size: 30px;
    }
}

@media screen and (max-width : 768px) {

    .section6 h2 {
        margin-left: -77px;
        /* margin-top: 90px; */
        margin-top: 30px;
        width: 322px;
        text-align: center;
    }
    .section6 .text-content {
        margin-left: -43px;
        max-width: 358px;
    }

    .section6 .logo-container {
        /* width: 393px; */
        height: 370px;
    }
}

/* FORMULAIRE */

.contact-container {
background-color: white;
padding: 60px;
width: 1335px;
margin: auto;
}

.contact-container {
    text-align: center;
    padding-bottom: 90px;
}

.title-barre  {
    width: 30%;
    height: 1.8px;
    background-color: #44DD8A;
    margin: 30px auto 40px auto;
}

.input-group {
display: flex;
gap: 150px;
margin-bottom: 50px;
}

.input-group input {
flex: 1;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: none;
    background-color: #1a2a44;
    color: white;
    font-size: 1em;
    border-radius: 4px;
    width: 100%;
    outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: white;
}

.submit-button {
    display: block;
    width: 351px;
    padding: 15px;
    background-color: #66cc99;
    color: #1a2a44;
    font-size: 1.1em;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 50px;
}


@media (max-width: 768px) {
    .contact-container {
        padding: 40px 20px;
        max-width: 100%;
        box-sizing: border-box;
    }
    .input-group {
        flex-direction: column;
        gap: 0;
        margin-bottom: 0;
    }
    .input-group input {
        margin-bottom: 20px;
    }
    .contact-form textarea {
        margin-bottom: 30px;
    }
    .submit-button {
        width: 100%;
    }
}

/* FOOTER */

footer {
    position: relative;
    background-color: #152237;
    color: white;
    height: 489px;
}

.line-top-footer {
background: linear-gradient(90deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 1) 100%);
height: 18px;
}

.footer-top {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    gap: 200px;
}

.footer-logo {
    display: flex;
    align-items: center;
    width: 243px;
    height: 87px;
}

.list-footer h4 {
    margin-bottom: 20px;
}

.infos-footer {
    display: flex;
    justify-content: space-between;
    gap: 190px;
}

.list-footer li {
    text-transform: uppercase;
    font-weight: 400;
    padding: 3px;
}

.list-footer p {
    line-height: 25px;
}

.info-text {
    width: 230px;
    display: flex;
    column-gap: 20px;
    align-items: start;
    margin-top: 14px;
}

.btn-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.line-footer {
    position: absolute;
    height: 2px;
    width: 90%;
    background-color: #44DD8A;
    left: 5%;
    bottom: 40%;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin: 90px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.socials-icons {
    font-size: 35px;
}

@media screen and (max-width: 768px) {
    footer {
        height: 100%;
    }

    .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .footer-logo {
    /* width: 100%; */
    height: 0;
    margin-left: -180px;
    margin-top: 50px;
  }

    .infos-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 55px;
    }

    .info-text {
    margin-left: 40px;
    }

    .list-footer h4 {
    text-align: center
    }

    .list-footer li {
    text-align: center;
    }

    .line-footer, .btn-footer, .footer-bottom {
    display: none;
    }
}

